.p{
    padding-bottom: 50px;
}

.p-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}