body {
	background-color:white;
	font-family: arial;
	color: #262626;
}

h1 {
	padding: 40px 0px 10px 0px;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	background: white;
}

h5 {
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	line-height: 5pt;
}

h3 {
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}

h4 {
	padding: 20px 300px 30px 300px;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	line-height: 150%;
}

a {
	color: gray;
}

.line{
	width: 80%;
	margin-left: 10%;
	height: 10px;
	border-bottom: 1px solid gray;
	position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}