.a{
    height: 100vh;
    display: flex;
    align-items: center;
    /* text-align: center; */
}

.a-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    float: left;
    /* display:inline-block;
    max-width: 200px; */
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-right{
    flex: 1;
    float: left;
    /* display:inline-block;
    max-width: 200px; */
}

.a-title{
    margin-bottom: 10px;
}

.a-resume{
    margin-top: 30px;
}

@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    
    .a-left {
        width: 100%;
    }

    .a-card{
        height: 40vh;
    }

    .a-card.bg{
        display: none;
    }
}