.c{
    margin-top: 50px;
    text-align: center;
}

.c-title{
    /* margin-bottom: 50px; */
}

.c-icons-container{
    text-align: center;
}

.c-img-wrapper{
    margin: 40px;
    margin-bottom: 50px;
    display:inline-block;
    /* padding:5px; */
    /* border-radius: 50%; */
    /* border:1px solid #CCC; */
}

@media screen and (max-width: 480px){
    .c-img-wrapper{
        margin: 20px;
        margin-bottom: 40px;
        display:inline-block;
    }
}