body {
	background-color:white;
	font-family: arial;
	color: #262626;
}

h1 {
	padding: 40px 0px 10px 0px;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	background: white;
}

h3 {
	font-size: 40px;
	font-weight: 100;
	text-align: right;
	float: right;
}

a {
	color: gray;
}

.line{
	width: 80%;
	margin-left: 10%;
	height: 10px;
	border-bottom: 1px solid gray;
	position: relative;
}
